---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		If you need one or two pieces of our products, you can buy them on Amazon, eBay or Aliexpress.
	</p>

	<p>
		If you need wholesale quantities with a big discount, contact us directly by email or whatsapp.
	</p>
</Layout>
