---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Autoledfix automotive LED modules & drivers."
	pubDate={new Date('April 08 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Sales contact:
		<ul>
			<li><a href="mailto:sales@autoledfix.com">sales@autoledfix.com</a></li>
			<li>
				<a aria-label="Chat on WhatsApp" href="https://wa.me/48511901301">
				<img alt="Chat on WhatsApp" src="WhatsAppButtonGreenLarge.svg" />
				<a />
			</li>
		</ul>
	</p>
</Layout>
